
:root {
  --cor-letra: #333;
  --cor-linha: red;
  --cor-background: white;
}

#header{
  margin-top: 10px;
  padding: 15px;
}
#linha-horizontal{  
  top: 0;               
  left: 0;
  width: 100%;
  height: 3px;         
  background-color:var(--cor-linha);
  z-index: 9999; 
}
#linha-vertical {
  position: absolute;    
  top: 0;
  left: 25%;        
  width: 3px;         
  height: 100vh;     
  background-color: var(--cor-linha);
  z-index: 9999;      
}

#headerDop{
  text-align: end;
}
#headerop {
  margin: 10px;
}
#home{
  display: flex;
  height: 40vw;
  background-color:blue;
  justify-content: center;
  align-items: center;
}
#homeTi{
 background-color: aqua;
}
#homebtn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
